<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stepyen.xlearn">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 录音 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 监听短信权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" /> <!-- 保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.READ_SMS" /> <!-- 允许读取手机状态 用于创建BmobInstallation -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--Task 任务栈-->
        <activity android:name=".activity.module.task.AActivity"></activity>
        <activity android:name=".activity.module.task.BActivity"></activity>
        <activity
            android:name=".activity.module.task.BSingleTaskActivity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.module.task.BSingleTopActivity"
            android:launchMode="singleTop"></activity>
        <activity
            android:name=".activity.module.task.BSingleInstanceActivity"
            android:launchMode="singleInstance"></activity>
        <activity
            android:name=".activity.module.task.BBTaskActivity"
            android:taskAffinity="b.task"></activity>
        <activity
            android:name=".activity.module.task.BBTaskSingleTaskActivity"
            android:launchMode="singleTask"
            android:taskAffinity="b.task"></activity>
        <activity android:name=".activity.module.task.CActivity"></activity>

        <activity
            android:name=".activity.module.task.CBTaskActivity"
            android:taskAffinity="b.task"></activity>
        <activity android:name=".activity.module.task.DActivity"></activity>
        <activity android:name=".activity.module.task.TaskActivity"></activity>


        <!--    notification    通知栏-->
        <activity
            android:name=".activity.view.notification.NoificationReceiveStandardActivitity"
            android:launchMode="standard">

        </activity>
        <activity
            android:name=".activity.view.notification.NoificationReceiveSingleTaskActivitity"
            android:launchMode="singleTask"></activity>
        <activity
            android:name=".activity.view.notification.NotificationTestParentActivity"
            android:parentActivityName=".MainActivity"></activity>

        <activity android:name=".activity.view.surfaceview.SurfaceViewActivity"></activity>


        <!--Service 开始-->

        <activity android:name=".activity.module.service.ServiceActivity"></activity>

        <service android:name="com.stepyen.xlearn.activity.module.service.TestStartService"></service>
        <service android:name="com.stepyen.xlearn.activity.module.service.TestBindService"></service>

        <service android:name="com.stepyen.xlearn.activity.module.service.TestIntentService"></service>


        <!--Service 结束-->


        <!--function 开始-->

        <activity android:name=".activity.function.SchemeUrlActivity"></activity>
        <activity android:name=".activity.function.AssetsActivity"></activity>
        <activity android:name=".activity.function.encrypt.EncryptActivity" />
        <activity android:name=".activity.function.UriActivity" />
        <activity android:name=".activity.function.JsonActivity" />
        <activity android:name=".activity.function.HandleActivity" />

        <!--function 结束-->


        <activity android:name=".activity.network.retrofit.RetrofitActivity"></activity>
        <activity android:name=".activity.view.ViewActivity"></activity>
        <activity android:name=".activity.module.contentprovider.ContentProviderActivity"></activity>
        <activity android:name=".activity.permission.PermissionActivity"></activity>

        <activity android:name=".activity.view_custom.ViewCustomActivity" />
        <activity android:name=".activity.view_basics.ViewBasicsActivity" />
        <activity android:name=".activity.view.notification.NotificationActivity" />
        <activity android:name=".activity.kotlin.KotlinActivity" />

        <activity android:name=".activity.network.okhttp.OkhttpActivity" />
        <activity android:name=".activity.CopyActivity" />

<!--        APP 开始-->
        <activity android:name=".activity.app.ManifestActivity">
            <meta-data
                android:name="activity.test"
                android:resource="@string/test_meta_info" />
        </activity>

        <meta-data
            android:name="application.test"
            android:value="applicationValue" />

        <meta-data
            android:name="application.test.manifestPlaceholders"
            android:value="${test_value}" />

        <activity android:name=".activity.app.PhoneParamActivity"
            android:screenOrientation="reversePortrait"
            ></activity>

        <activity android:name=".activity.app.window_soft_input_mode.WindowSoftInputModeActivity"></activity>
        <activity android:name=".activity.app.window_soft_input_mode.AdjustUnspecifiedActivity"
            android:windowSoftInputMode="adjustUnspecified"
            ></activity>
        <activity android:name=".activity.app.window_soft_input_mode.AdjustResizeActivity"
            android:windowSoftInputMode="adjustResize"
            ></activity>
        <activity android:name=".activity.app.window_soft_input_mode.AdjustPanActivity"
            android:windowSoftInputMode="adjustPan"
            ></activity>
<!--        APP 结束-->

        <activity android:name=".activity.java.JavaActivtity"></activity>
        <activity android:name=".activity.exception.ExceptionActivity" />
        <activity android:name=".activity.module.intent.IntentActivity" />
        <activity android:name=".activity.java.reflect.ReflectActivity" />
        <activity android:name=".activity.animotion.AnimotionActivity" />
        <activity android:name=".activity.module.activity.ActivityActivity" />

        <activity android:name=".activity.java.reflect.FileActivity" />
        <activity android:name=".activity.network.websocket.WebSocketActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.TestKotlinActivity" />
        <activity android:name=".base.BasePageActivity" />
        <activity android:name=".activity.network.socket.SocketActivity" />
        <activity android:name=".activity.audio.AudioActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".fragment.utils.life_cycle.ActivityLifeActivity" /> <!-- launch -->
        <activity android:name=".fragment.utils.launch.AActivity" />
        <activity
            android:name=".fragment.utils.launch.BActivity"
            android:launchMode="singleTop" />
        <activity android:name=".fragment.utils.launch.CActivity" />

        <!--        第三方 thrid 开始-->

        <activity android:name=".activity.thrid.getui.GetuiActivity"></activity>
        <activity android:name=".activity.thrid.ument.UMengActivity"></activity>
        <activity android:name=".activity.thrid.glide.GlideActivity"></activity>
        <activity android:name=".activity.thrid.msa.MsaActivity"></activity>
        <activity android:name=".activity.thrid.gson.GsonActivity"></activity>
        <!--        第三方 thrid 结束-->

<!--       jetpack 开始 -->
        <activity android:name=".activity.jetpack.livedata.LiveDataActivity"></activity>
        <activity android:name=".activity.jetpack.viewmodel.ViewModelActivity"></activity>

<!--       jetpack 结束 -->

        <activity android:name=".PageListActivity" />
        <activity android:name=".activity.module.activity.TargetActivity" /> <!-- 新浪 结束 -->
        <!-- 微信 结束 -->
        <activity-alias
            android:name=".fragment.basics.activity.AliasActivity"
            android:targetActivity=".activity.module.activity.TargetActivity" />

        <activity android:name=".fragment.basics.eventDispatch.dispatch.EventDispatchActivity" />
        <activity android:name=".fragment.utils.arouter.ARouterTestSimpleActivity" /> <!-- arouter -->
        <activity android:name=".fragment.utils.arouter.ARouterTestNeedLoginActivity" />
        <activity android:name=".fragment.utils.arouter.ARouterTestParaActivity" />
        <activity android:name=".fragment.utils.arouter.ARouterTestLoginActivity" />
        <activity android:name=".fragment.utils.arouter.ARouterTestServiceActivity" />
        <activity android:name=".fragment.utils.arouter.ARouterSchameFilterActivity">
            <intent-filter>
                <data
                    android:host="m.aliyun.com"
                    android:scheme="arouter" />
            </intent-filter>
        </activity>
        <activity android:name=".fragment.utils.AgentWeb.AgentWebActivity" />

        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity> <!-- ***************************友盟*********************************** -->
        <!-- 新浪 开始 -->
        <activity
            android:name="com.xfwy.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" /> <!-- 微信 结束 -->
        <!-- QQ 开始 -->
        <!-- qq（请注意将友盟的qq appkey替换成您自己的qq appkey） -->


        <provider
            android:name=".activity.module.contentprovider.StudentContentProvider"
            android:authorities="com.stepyen.StudentContentProvider"
            android:exported="true" />

        <receiver android:name=".fragment.basics.receiver.NetworkChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <!-- QQ 结束 -->


        <!-- receiver -->
        <service
            android:name=".fragment.basics.process_communication.MessengerService"
            android:process=":testMessenger" />


    </application>

</manifest>